.DS_Store
notebooks/.ipynb_checkpoints
.idea
data
data/*
data/cleaned_lyrics_year/*.csv
notebooks/processed_song_lyrics.txt
notebooks/processed_songs_dictionary.dict
notebooks/song_list_bow.mm
notebooks/song_list_bow.mm.index
notebooks/songs_lda_model
notebooks/songs_lda_model.state
